.new-arrivals {
  margin-top: 40vh;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120vh;
}
/* 
.featured img {
  width: 80%;
  height: 300px;
} */

.collections-item {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 5%;
  padding-left: 5%;
}

.new-arrivals h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 500;
  padding-top: 40px;
}

.new-arrivals hr {
  width: 250px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
