.shop {
  width: 100%;
}

.shop .banner {
  width: 100%;
  height: 30vh;
  background-image: url("../../components/assets/images/background/air-force.jpg");
  background-size: cover;
  background-position: center 50%;
  opacity: 0.9;
}

.shop-sort img {
  width: 30px;
  height: 30px;
}
